.style{
    height: 88vh;
}
.style1{
    font-size: 12px;
}

.dark{
    background-color: #E3F2F1;;
    color: white;
}
.text
{
    color: black;
    font-size: 14px;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .style{
    height: 88vh;
}
.style1{
    font-size: 12px;
}

.sideNav{
    background: #009688;
}